<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6" >
      <assemblies>
	  <add assembly="Syncfusion.Linq.Base,Version=19.3460.0.25, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6" requestValidationMode="2.0" maxRequestLength="1048576" executionTimeout="3600" maxUrlLength="10999" maxQueryStringLength="2097151" />
  </system.web>
  <connectionStrings>
    <add name="Adventure Works" connectionString="Data Source=http://bi.syncfusion.com/olap/msmdpump.dll; Initial Catalog=Adventure Works DW 2008 SE;"/>
    <add name="Adventure Works DW1" connectionString="Data Source=https://bi.syncfusion.com/olap/msmdpump.dll; Initial Catalog=AdventureWorksCube1;" />
    <add name="DiagramDataConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\DiagramData.mdf;Integrated Security=True;"
     providerName="System.Data.SqlClient" />
     <add name="NORTHWNDConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\NORTHWND.mdf;Integrated Security=True;"
     providerName="System.Data.SqlClient" />
	  <add name="TreegridSelfReferenceConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\TreegridSelfReference.mdf;Integrated Security=True"
     providerName="System.Data.SqlClient" />
	<add name="ScheduleDataEntities" connectionString="metadata=res://*/;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\ScheduleData.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647"
			  maxBufferSize="2147483647"
			  maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="32"
				  maxArrayLength="2147483647"
				  maxStringContentLength="2147483647"/>
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="EJServices.Wcf.Pivotclient.OlapAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotchart.OlapAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotgrid.OlapAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotgauge.OlapAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivottreemap.OlapAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotclient.RelationalAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotchart.RelationalAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotgrid.RelationalAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
        <behavior name="EJServices.Wcf.Pivotgauge.RelationalAspNetAjaxBehavior">
          <enableWebScript/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="" >
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="EJServices.Wcf.Pivotclient.Olap">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotclient.OlapAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotclient.IOlap"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotchart.Olap">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotchart.OlapAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotchart.IOlap"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotgrid.Olap">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotgrid.OlapAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotgrid.IOlap"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotgauge.Olap">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotgauge.OlapAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotgauge.IOlap"></endpoint>
      </service>
      <service name ="EJServices.Wcf.Pivottreemap.Olap">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivottreemap.OlapAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivottreemap.IOlap"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotclient.Relational">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotclient.RelationalAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotclient.IRelational"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotchart.Relational">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotchart.RelationalAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotchart.IRelational"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotgrid.Relational">
        <endpoint address="" behaviorConfiguration ="EJServices.Wcf.Pivotgrid.RelationalAspNetAjaxBehavior" binding="webHttpBinding" contract="EJServices.Wcf.Pivotgrid.IRelational"></endpoint>
      </service>
      <service name="EJServices.Wcf.Pivotgauge.Relational">
        <endpoint address="" behaviorConfiguration="EJServices.Wcf.Pivotgauge.RelationalAspNetAjaxBehavior" binding ="webHttpBinding" contract="EJServices.Wcf.Pivotgauge.IRelational"></endpoint>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <remove fileExtension=".woff" />
      <!-- In case IIS already has this mime type -->
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
	<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Headers" value="accept, maxdataserviceversion, origin, x-requested-with, dataserviceversion,content-type" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>
    </httpProtocol>
	<httpRedirect enabled="false" />
  </system.webServer>
</configuration>
