/*-----------------------Map------------------*/
/*-----------------------OLAP Definition-----------------*/
/*-----------------------OLAP Definition End-----------------*/
/*----------------------Reportviewer Definition start------------------*/
/*----------------------Reportviewer Definition End------------------*/
/*-----------------------SymbolPalette Definition-----------------*/
/*-----------------------Datepicker Definition-----------------*/
/*-----------------------Bootstrap support-----------------*/
/*----------------------Ribbon Definition-----------------------*/
/*----------------------Spreadsheet Definition-----------------------*/
/*----------------------Spreadsheet End-----------------------*/

/*------------------------------------- Colorpicker -------------------------------------------*/

.e-colorpicker .e-hsv-color,
.e-colorpicker .e-buttons .e-preview,
.e-colorpicker .e-slider-wrap .e-handle.e-select,
.e-colorpicker .e-slider-wrap .e-hue,
.e-colorpicker .e-slider-wrap .e-opacity,
.e-colorpicker .e-slider-wrap .e-handle.e-select:hover {
  border: 3px solid white;
}
.e-colorwidget .e-select {
  background: white;
  color: #686969;
  border-color: #c8c8c8;
}
.e-colorwidget.e-split .e-in-wrap .e-select:hover,
.e-colorwidget.e-split .e-color-container:hover {
  border-color: #c8c8c8;
  color: #282827;
}
.e-colorwidget.e-split .e-in-wrap .e-select:hover,
.e-colorwidget.e-split .e-color-container:hover {
  background: #86cbea;
}
.e-colorwidget.e-picker.e-split.e-disable .e-in-wrap .e-select:hover,
.e-colorwidget.e-picker.e-split.e-disable .e-in-wrap .e-color-container:hover {
  cursor: default;
  background: white;
}
.e-colorpicker.e-popup {
  background-color: #ececec;
  border-color: #c8c8c8;
}
.e-presetWrapper.e-widget.e-context {
  border-color: #c8c8c8;
}
.e-colorwidget.e-focus {
  box-shadow: 0 0 2px #cbcbcb;
}
.e-colorpicker .e-recent-color .e-colorblock.e-block,
.e-colorpicker .e-recent-color .e-colorblock.e-select,
.e-colorpicker .e-footer .e-switcher {
  background-color: white;
  color: #333333;
  border-color: white;
}
.e-colorwidget .e-in-wrap.e-box,
.e-colorwidget .e-in-wrap.e-box .e-select,
.e-colorpicker .e-footer .e-in-wrap.e-box .e-splitbutton,
.e-colorpicker .e-footer .e-in-wrap.e-box .e-rht-btn,
.e-colorpicker .e-footer .e-in-wrap.e-box .e-split-btn,
.e-colorpicker .e-footer .e-in-wrap.e-box .e-drp-btn.e-rht-btn {
  background: white;
  color: #333333;
  border-color: #c8c8c8;
}
.e-colorwidget .e-select:hover,
.e-colorpicker .e-element .e-split-btn.e-select.e-rht-btn:hover {
  background-color: white;
  color: #282827;
  border-color: #c8c8c8;
}
.e-colorpicker .e-footer .e-in-wrap.e-box .e-splitbutton:hover,
.e-colorpicker .e-footer .e-in-wrap.e-box .e-rht-btn:hover {
  color: #282827;
  border-color: #c8c8c8;
}
.e-colorpicker .e-footer .e-in-wrap.e-box .e-splitbutton:hover,
.e-colorpicker .e-footer .e-in-wrap.e-box .e-rht-btn:hover {
  background: #86cbea;
}
.e-presetWrapper.e-menu.e-context,
.e-presetWrapper.e-menu.e-context .e-list.e-mhover.e-mfocused,
.e-presetWrapper.e-menu.e-context .e-list > ul,
.e-presetWrapper.e-menu.e-context .e-list:hover {
  background: white;
  color: #333333;
  border-color: white;
}
.e-presetWrapper.e-menu.e-context .e-list:hover {
  background: white;
  color: #333333;
}
.e-colorpicker .e-footer .e-split .e-splitbutton:hover {
  border-color: #c8c8c8;
}
.e-colorpicker .e-footer .e-split .e-splitbutton:hover {
  background: #ececec;
}
.e-colorpicker .e-footer .e-cancelButton.e-btn,
.e-colorpicker .e-footer .e-applyButton.e-btn {
  border-color: #c8c8c8;
}
.e-colorpicker .e-footer .e-cancelButton.e-btn,
.e-colorpicker .e-footer .e-applyButton.e-btn {
  background: #ececec;
}
.e-colorpicker .e-footer .e-cancelButton.e-btn:hover,
.e-colorpicker .e-footer .e-applyButton.e-btn:hover {
  border-color: #c8c8c8;
  color: #282827;
}
.e-colorpicker .e-footer .e-cancelButton.e-btn:hover,
.e-colorpicker .e-footer .e-applyButton.e-btn:hover {
  background: #86cbea;
}
.e-colorpicker .e-buttons .e-grpbtn,
.e-colorpicker .e-buttons .e-color-code,
.e-colorpicker .e-buttons .e-grpbtn .e-btn {
  background: white;
  border-color: white;
}
.e-colorpicker .e-buttons .e-previous,
.e-presetWrapper .e-presets-table .e-preset-row {
  border-color: #c8c8c8;
}
.e-colorpicker .e-item {
  border-color: #c8c8c8;
}
.e-colorpicker .e-color-image,
.e-presetWrapper .e-color-image,
.e-presetWrapper.e-menu.e-context .e-color-image.e-mhover {
  background-image: url(../common-images/colorpicker_light.png);
  background-color: transparent;
}
.e-presetWrapper .e-presetHeader,
.e-colorpicker .e-element .e-icon:before {
  color: #333333;
}
.e-colorpicker .e-buttons .e-grpbtn .e-btn {
  color: #333333;
}
.e-colorpicker .e-buttons .e-color-code {
  color: #333333;
}
.e-colorpicker .e-buttons .e-grpbtn .e-click {
  border-color: #c8c8c8;
  color: white;
  box-shadow: 0 0 0 2px white;
}
.e-colorpicker .e-buttons .e-grpbtn .e-click {
  background: #179bd7;
}
.e-colorpicker .e-buttons .e-grpbtn .e-btn:hover {
  color: #282827;
  border-color: #c8c8c8;
}
.e-colorpicker .e-buttons .e-grpbtn .e-btn:hover {
  background: #86cbea;
}
.e-presetWrapper.e-menu.e-context li.e-list {
  background: white;
}
